<section class="content-header">
  <h1 class="content-title">
    User Subscriptions
  </h1>
</section>
<section class="content">
  <% @user.subscriptions.each do |subscription| %>
    <div class="box box-primary subscription">
      <div class="box-header with-border">
        <div class="box-title">
          <%= content_tag :h3, subscription.job.title %>
        </div>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Organization</th>
              <th><%= subscription.job.organization.name %></th>
            </tr>
            <tr>
              <th>Places</th>
              <th>
                <%= content_tag :p, subscription.job.places, class: 'lead' %>
              </th>
            </tr>
            <tr>
              <th>Description</th>
              <th>
                <%= content_tag :p, subscription.job.description, class: 'lead' %>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</section>
