<div class="box box-info">
  <div class="box-header with-border">
    <h1 class="content-title">
      New Organization
    </h1>
  </div>
  <%= render 'form' %>
</div>

<%= link_to "Back", @organization, class: "btn btn-default btn-flat" %>
